body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    text-decoration: none;
    list-style: none;
}
.Header {
    margin: 0px;
    padding: 0px;
    background-color: orangered;
    height: 60px;
    /* margin-left: auto;
    /*margin-right: auto; */

}
.header_margin {
    
    width: 1000px;
    margin:  0px auto;


} 
.header_margin_left {
    float: left;
}
.header_margin img {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-right: 150px;
}
.header_margin h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    margin-right: 210px;
    margin-bottom: 0px;
}

.header_margin input {
    border: 1px solid black;
    background: white ;
    height: 25px;
    width: 180px;
    margin-top: 15px;
    position: relative;
}
.header_margin input:hover {
    border: 1px solid turquoise;
}
.header_margin button {
    
    width: 25px;
    height: 25px;
    border:  none;
    position: relative;
    top: 0px;
    right: 30px;
    /* border: 1px solid turquoise; */
}
.nav {

    background-color: darkcyan;
    height: 35px;
    margin-top: -16px;
    /* display: flex; */
    /* margin: 0px;
    padding: 0px;   
    
     /*border: 1px solid black ; */
}

.nav_margin {
    margin: 0px auto;
    width: 1000px;
    
}
.nav_right {
    height: 35px;
    background: darkcyan;
    
}
.nav_right ul {
    margin-left: -40px;
}
.nav_margin .nav_right ul li {
    float: left;
}
.nav_margin .nav_right ul li a {
    float: left;
    color: black;
    line-height: 35px;
    display: block;
    border-right:  1px solid black;
    padding: 0px 15px 0px 15px;
}
.nav_margin .nav_right ul li a:hover{
    background: orangered;
}
.nav_margin .nav_right ul li a.active {
    background: orangered;
    /* text-align: center; */
}
.main{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px auto; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.main .left {
    float: left;
    flex: 70%;
    /* min-height: 100%; */
    
}
.left_0  a {
    font-family: 'Times New Roman', Times, serif;
}
.left_0 a h3 {
    border-left: 3px solid red;
    padding-left: 10px ;
}
.left_0 a h3:hover{
    color: red;
}
.left_01 ul li {
    border-bottom: 1px solid black;
}
.left_01 ul li img{
    float: left;
}
.left_01 a h2 {
    color: black;
    font-size: 20px;
}
.left_01 a h2:hover {
    color: blue;
}
.left_01  ul li a img{
    width: 220px;
    height: 150px;

}
.left_1 {
    list-style:none;
}
.main .left ul {
    margin: 0px;
    padding: 0px;
}
.left_1 a h3 {
    border-left:  3px solid red;
    padding-left: 10px;
}
.left_1 a h3:hover{
    color: red;

}
.main .left .left_1 ul li {
    clear: left;
    margin-bottom: 15px;
    border-bottom: 1px solid black;

}
.main .left .left_1 ul li img {
    float: left;
    margin-right:  20px;
    margin-bottom: 20px;
}
.main .left .left_1 ul li h2 {
    font-size: 20px;
    margin-top: 0px;
}
.main .left .left_1 ul li a {
    color: black;

}
.main .left .left_1 ul li a:hover{
    color: blue;
}

.main .right {
   flex:  30%;
    background:white;
    
}
.main .right .quangcao1{
    position: fixed;
}
.main .right .danhmuc ul {
    margin: -15px 0px 0px 0px;
    padding: 0px; 
    
}
.main .right .danhmuc ul li{
    padding-bottom: 25px;
    padding-top: 10px;
}

.main .right .danhmuc ul li .l1{
    display: flex;
    
}
.main .right .danhmuc ul li a{
    display: block ;
    text-decoration:  none;
    line-height: 20px;
    padding-left: ‒7;
    margin-left: 17px;
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    
}
.main .right .danhmuc ul li a:hover {
        color: red;
}
.main .right .danhmuc h3 {
    background-color : darkcyan ;   
    height: 50px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
        
}
.main .bottom {
    height: 300px;
    width: 1000px;
    background: green;
}
.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:black;
    padding-top: 20px;
    height: auto;
    color: #ffffff;
}
.footer_content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.footer_content h3 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer_content p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.lienket {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  1rem 0 3rem 0;
}
.lienket li {
    margin: 0 10px;
}
.lienket a {
    text-decoration: none;
    color: #ffffff;
}
.lienket a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.lienket a:hover i {
    color: orangered;
}
.f_right {
    position: relative;
}
.footer_bottom {
    /* margin: 0;
    padding: 0; */
    background:grey;
    padding: 5px 0;
    display: flex;
    height: 50px;
    /* text-align: center; */
}
/* .footer_bottom p {
    font-size: 14px;
    word-spacing:  2px;
    text-transform: capitalize; */

.f_left {
    flex: 50%;
    display: flex;

}
.f_left cm1 {
    flex:50%
}

.f_left cm2 {
    flex:50%;
    margin-bottom: 10px;
}
.f_right {

    flex: 50%;  
/* margin-left: 1050px;
margin-top: -45px;
margin-bottom: 50px; */
}
.f_right ul {
    float: right;

}
.f_right ul li{
    float: left;
}

/* .footer h4 {
    text-align: center;
    color: red;
} */

/* .footer .bottom {
    
    text-align: center;
    padding: 3px;
    background: DarkSalmon;
    color: white; 
    
} */
.fix {
    top: 0;
    position: fixed;
    width: 100%;
    height: 51px;
}

/* .fix + .main{
    padding-top: 202px;
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 100px;
  }
  
  .cate {
    color: grey;
    font-size: 22px;
  }
  

.card p button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
 .card button:hover {
    opacity: 0.7;
  }
@media (max-width: 700px) {

    .nav{
        flex-direction: column;
    }
}
